ion-card {
  width: 20rem;
  height: 12rem;
  cursor: pointer;

  ion-card-content {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.unclickable {
  pointer-events: none;
}
