<ion-header>
  <ion-toolbar>
    <ion-title>{{this.quizTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="questions">
    <ng-container
      *ngFor="let question of this.questions | keyvalue"
      [ngSwitch]="question.value.type"
    >
      <app-true-false-question
        *ngSwitchCase="'truefalse'"
        [text]="question.value.text"
        [questionNumber]="question.key + 1"
        class="grow"
      ></app-true-false-question>

      <app-multiple-choice-question
        *ngSwitchCase="'multichoice'"
        [text]="question.value.text"
        [questionNumber]="question.key + 1"
        [answerOptions]="question.value.answerOptions"
        [multipleAllowed]="true"
        class="grow"
      ></app-multiple-choice-question>

      <app-matching-question
        *ngSwitchCase="'match'"
        [text]="question.value.text"
        [questionNumber]="question.key + 1"
        [answerOptions]="question.value.answerOptions"
        [gapText]="question.value.gapText"
        class="grow"
      ></app-matching-question>

      <app-short-answer-question
        *ngSwitchCase="'shortanswer'"
        [text]="question.value.text"
        [questionNumber]="question.key + 1"
        class="grow"
      ></app-short-answer-question>

      <app-numeric-question
        *ngSwitchCase="'numerical'"
        [text]="question.value.text"
        [questionNumber]="question.key + 1"
        class="grow"
      ></app-numeric-question>

      <app-drag-drop-text-question
        *ngSwitchCase="'ddwtos'"
        [snippets]="this.getQText(question.value.text)"
        [questionNumber]="question.key + 1"
        [answerOptions]="question.value.answerOptions"
        class="grow"
      ></app-drag-drop-text-question>

      <app-not-supported-question
        *ngSwitchDefault
        [questionNumber]="question.key + 1"
        [text]="question.value.text"
        class="grow"
      ></app-not-supported-question>
    </ng-container>
  </div>
</ion-content>

<!-- Hidden question container for question parser to be able to search all
classLists -->
<div #hiddenQuestions class="noDisplay"></div>
