<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../../']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{this.quizTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="questions">
    <ng-container
      *ngFor="let question of this.questions | keyvalue"
      [ngSwitch]="question.value.type"
    >
      <app-true-false-question
        *ngSwitchCase="'truefalse'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-true-false-question>

      <app-multiple-choice-question
        *ngSwitchCase="'multichoice'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        [answerOptions]="question.value.answerOptions"
        [multipleAllowed]="question.value.multipleAllowed"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-multiple-choice-question>

      <app-matching-question
        *ngSwitchCase="'match'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        [answerOptions]="question.value.answerOptions"
        [gapText]="question.value.gapText"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-matching-question>

      <app-short-answer-question
        *ngSwitchCase="'shortanswer'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-short-answer-question>

      <app-numeric-question
        *ngSwitchCase="'numerical'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-numeric-question>

      <app-cr-question
        *ngSwitchCase="'essay'"
        [text]="question.value.text"
        [questionNumber]="question.key"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-cr-question>

      <app-drag-drop-text-question
        *ngSwitchCase="'ddwtos'"
        [snippets]="this.getQText(question.value.text)"
        [questionNumber]="question.key"
        [answerOptions]="question.value.answerOptions"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-drag-drop-text-question>

      <app-gap-select-question
        *ngSwitchCase="'gapselect'"
        [snippets]="question.value.gapText"
        [questionNumber]="question.key"
        [answerOptions]="question.value.answerOptions"
        (changeAnswer)="this.addAnswer($event, question.value.id)"
        class="grow"
      ></app-gap-select-question>

      <app-not-supported-question
        *ngSwitchDefault
        [questionNumber]="question.key"
        [text]="question.value.text"
        class="grow"
      ></app-not-supported-question>
    </ng-container>
  </div>
  <div id="footer">
    <!-- <ion-button size="large" color="medium" (click)="this.handleSaveClick()"
      ><span>Save Attempt</span></ion-button
    > -->
    <ion-button
      size="large"
      color="success"
      (click)="this.handleSubmitClick()"
      routerLink="../../"
      ><span>Submit Attempt</span></ion-button
    >
  </div>
</ion-content>

<!-- Hidden question container for question parser to be able to search all
classLists -->
<div #hiddenQuestions class="noDisplay"></div>
