<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Question {{ this.questionNumber }}</ion-card-subtitle>
    <ion-card-title>
      <ng-container *ngFor="let snippet of this.snippets; let i = index">
        {{ snippet }}
        <app-drop-zone
          *ngIf="i < this.snippets.length - 1"
          (click)="this.handleDropClick($event)"
        ></app-drop-zone>
      </ng-container>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <app-draggable
      *ngFor="let option of this.answerOptions"
      [text]="option"
    ></app-draggable>
  </ion-card-content>
</ion-card>
