ion-card-content {
  display: flex;
  flex-wrap: wrap;
}

app-drop-zone {
  width: 8rem;
  height: 2rem;
  border: white dashed 3px;
  display: inline-block;

  position: relative;
  right: 0.2rem;
}

.group1 {
  background: #e6194b !important;
}

.group2 {
  background: #bfef45 !important;
}

.group3 {
  background: #f58231 !important;
}

.group4 {
  background: #42d4f4 !important;
}

.group5 {
  background: #ffe119 !important;
}

.group6 {
  background: #3cb44b !important;
}

.group7 {
  background: #4363d8 !important;
}

.group8 {
  background: #911eb4 !important;
}
