<app-header
  *ngIf="this.opponent"
  [title]="'Game against ' +  this.opponent.firstname + ' ' + this.opponent.lastname"
  [backButtonLink]="'../../multi-player'"
></app-header>

<ion-content>
  <div id="container" *ngIf="this.myself">
    <div class="self">{{this.myself.firstname}} {{this.myself.lastname}}</div>
    <h3 class="score">{{this.getScore(this.myself.id)}}</h3>
    <div class="opponent">
      {{this.opponent.firstname}} {{this.opponent.lastname}}
    </div>
    <div id="rounds">
      <div class="quiz-round" *ngFor="let round of this.rounds | keyvalue">
        <app-quiz-round-preview
          [player]="this.getRightPlayerValue(this.myself.id)"
          [isFinished]="this.getFinishedStatus(this.myself.id, round.value[2])"
          [questions]="round.value"
        ></app-quiz-round-preview>
        <span>Round {{round.key}}</span>
        <app-quiz-round-preview
          [player]="this.getRightPlayerValue(this.opponent.id)"
          [isFinished]="this.getFinishedStatus(this.opponent.id, round.value[2])"
          [questions]="round.value"
        ></app-quiz-round-preview>
      </div>
    </div>
    <ion-button
      *ngIf="this.myTurn && !this.finished"
      (click)="this.startNextRound()"
      >Play</ion-button
    >
  </div>
</ion-content>
