#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .score {
    position: absolute;
    top: 0;
  }

  .self {
    width: 20vw;
    height: 3rem;

    font-size: 18px;

    position: absolute;
    top: 0;
    left: calc(5%);
  }

  .opponent {
    width: 20vw;
    height: 3rem;

    font-size: 18px;

    position: absolute;
    top: 0;
    right: calc(5%);
  }

  #rounds {
    width: 90%;
    position: absolute;
    top: 5rem;
  }

  .quiz-round {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    app-quiz-round-preview {
      width: 10rem;
    }
  }
}
