<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../../']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="this.opponent"
      >Game against {{this.opponent.firstname}}
      {{this.opponent.lastname}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="names-and-score" *ngIf="this.opponent && this.myself">
      <h3>{{this.myself.firstname}} {{this.myself.lastname}}</h3>
      <h3>{{this.getScore(this.myself.id)}}</h3>
      <h3>{{this.opponent.firstname}} {{this.opponent.lastname}}</h3>
    </div>
    <div id="rounds">
      <div class="quiz-round" *ngFor="let round of this.rounds | keyvalue">
        <app-quiz-round-preview
          [player]="this.getRightPlayerValue(this.myself.id)"
          [isFinished]="this.getFinishedStatus(this.myself.id, round.value[2])"
          [questions]="round.value"
        ></app-quiz-round-preview>
        <span>Round {{round.key}}</span>
        <app-quiz-round-preview
          [player]="this.getRightPlayerValue(this.opponent.id)"
          [isFinished]="this.getFinishedStatus(this.opponent.id, round.value[2])"
          [questions]="round.value"
        ></app-quiz-round-preview>
      </div>
    </div>
    <ion-button
      *ngIf="this.myTurn && !this.finished"
      (click)="this.startNextRound()"
      >Play</ion-button
    >
  </div>
</ion-content>
