ion-toolbar {
  padding: 0 0.8rem 0 0.4rem;

  ion-icon {
    cursor: pointer;
  }

  .external-url {
    font-size: 1.3rem;
    position: relative;
    top: 0.2rem;
  }

  .avatar {
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;

    img {
      border-radius: 50%;
    }
  }
}
