<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start" *ngIf="this.showLogo">
      <img src="../assets/logo.png" />
    </ion-thumbnail>
    <ion-buttons slot="start" *ngIf="this.backButtonLink">
      <ion-button [routerLink]="this.backButtonLink">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large"
      >{{ this.title }}
      <ion-icon
        *ngIf="this.externalLink"
        class="external-url"
        name="open-outline"
        (click)="this.goToExternalUrl()"
      ></ion-icon
    ></ion-title>
    <ion-thumbnail
      *ngIf="this.currentUser && this.currentUser.id != -1"
      class="avatar"
      slot="end"
      (click)="this.presentPopover($event)"
    >
      <img [src]="this.currentUser.profileimageurl" />
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
