<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{this.courseInfo.displayname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Quizzes of this course:</h4>
  <div id="quizzes">
    <app-course-card
      *ngFor="let quiz of this.quizzes | keyvalue"
      [courseName]="quiz.value.title"
      [courseDesc]="quiz.value.description"
      [type]="'Quiz'"
      [disabled]="!quiz.value.hasQuestions"
      (click)="this.startQuizAttempt(quiz.key, !quiz.value.hasQuestions)"
    ></app-course-card>
  </div>
  <h4>Multi-Player:</h4>
  <div class="multi-player">
    <ion-button size="large" color="success" (click)="this.startMultiPlayer()"
      ><span>Start new multi-player game</span></ion-button
    >
    <ion-list>
      <ion-list-header>
        <ion-label>Your Games</ion-label>
        <ion-select
          interface="popover"
          value="progress"
          (ionChange)="this.filter($event)"
        >
          <ion-select-option value="progress">In Progress</ion-select-option>
          <ion-select-option value="finished">Finished</ion-select-option>
        </ion-select>
      </ion-list-header>
      <app-game-preview-item
        *ngFor="let game of this.filteredGames"
        [gameId]="game.gid"
        [turn]="game.nextTurnId"
        [opponentName]=""
        [inProgress]="game.inprogress"
        [score]="'1:2'"
      ></app-game-preview-item>
      <ion-item class="empty" *ngIf="this.filteredGames.length <= 0"
        >Nothing here...</ion-item
      >
    </ion-list>
  </div>
</ion-content>
