<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../assets/logo.png">
    </ion-thumbnail>
    <ion-title size="large">Competitive Quiz (<a [href]="this.moodleUrl">Open Moodle</a>)</ion-title>
    <ion-label slot="end" (click)="this.logout()">Log out</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="courses">
    <app-course-card
      *ngFor="let course of this.courses | keyvalue"
      [courseName]="course.value.title"
      [courseDesc]="course.value.description"
      [type]="'Course'"
      [disabled]="!this.hasQuizzes(course.key)"
      [routerLink]="this.getUrl(course.key, !this.hasQuizzes(course.key))"
    ></app-course-card>
  </div>
</ion-content>
