<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../assets/logo.png" />
    </ion-thumbnail>
    <ion-title size="large"
      >Competitive Quiz (<a [href]="this.moodleUrl">Open Moodle</a>)</ion-title
    >
    <ion-label slot="end" (click)="this.logout()">Log out</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>Your Courses:</h4>
  <div id="courses">
    <app-course-card
      *ngFor="let course of this.courses"
      [courseName]="course.name"
      [courseDesc]="course.description"
      [type]="'Course'"
      [disabled]="course.quizCount < 1"
      [routerLink]="this.getUrl(course.id, course.quizCount < 1)"
    ></app-course-card>
  </div>

  <h4>Personal Statistics:</h4>
</ion-content>
