ion-toolbar {
  padding: 0 0.8rem 0 0.4rem;

  ion-label {
    text-decoration: underline;
    cursor: pointer;
  }
}

#courses {
  margin-top: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  margin: 1.5rem 0 0 1.5rem;
}
