.log-out {
  text-decoration: underline;
}

ion-icon {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.logout-container {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}
